<br />
<div class="container bg-light p-3 rounded">
  <h2 class="text-dark">Iniciar sesion</h2>
  <form action="login" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Ingrese su nombre</label>
      <input type="text" class="form-control" name="name" />
    </div>
    <button type="submit" class="btn btn-primary">Acceder</button>
  </form>
  <br />
</div>