<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-dark" href="productos">Form and Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="chat">Chat</a>
    </li>
  </ul>
</header>