{{> navbar}}
<div class="index-container container">
    {{!-- Form --}}
    <div class="form-container container bg-light my-2 py-2 px-4 rounded">
        <h1 class="text-center">Create product</h1>
        <form id="formNewProduct"  onsubmit="return submitForm(event)">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ID:</label>
                <input type="text" class="form-control" name="id" id="id" placeholder="ID No.">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title:</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Product Title">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Price:</label>
                <input type="text" class="form-control" name="price" id="price" placeholder="Product Price">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Thumbnail:</label>
                <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="Product Thumbnail">
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-primary" id="submit" value="Add product" />
            </div>
        </form>
    </div>
    <br>

    {{!-- Product List --}}
    <div class="plist-container container d-flex flex-column my-2">
        <h2 class="text-center">Product List</h2>
        <table class="table my-1" id="cssTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Thumbnail</th>
                </tr>
            </thead>
            <tbody id="productsTable">
                {{#if productsExist}}
                {{#each products}}
                <tr>
                    <th scope="row">
                        {{this.id}}
                    </th>
                    <td style="text-transform: uppercase;">
                        {{this.title}}
                    </td>
                    <td>${{this.price}}
                    </td>
                    <td><img src="{{this.thumbnail}}" class="product-img" alt="..." /></td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    {{!-- Chat --}}
    <div class="chat-container container d-flex flex-column align-items-center bg-light my-2 mb-5 px-2 py-3">
        <h2 class="text-center">Chat with us</h2>
        <input type="email" id="emailInput" class="form-control w-100" value="" placeholder="your_name@gmail.com" />
        <div class="w-100 text-center p-2" id="div-chats"></div>
        <div class="d-flex flex-row no-wrap w-100">
            <input type="text" id="messageInput" class="form-control w-50 mx-1" value="" placeholder="Your message" /> 
            <button class="btn btn-primary w-50 mx-1 " onclick="sendChat()">Send message</button>
        </div>
        </div>
    </div>
</div>
