{{> navbar}}

 <h1 class="text-center">{{title}}</h1>
<div class="container d-flex flex-row justify-content-center">
 
  <div class="card text-center mx-3" style="width: 36rem;">
    <img src="{{product.thumbnail}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-uppercase ">{{product.title}}</h5>
      <p class="card-text">${{product.price}}</p>
    </div>
  </div>
  
</div>
<br />