<div class="alert alert-primary p-3 d-flex justify-content-between">
  <h2 class="text-primary" style="display: inline">Bienvenido {{this.name}}</h2>
  <a class="btn btn-danger" href="/logout">Deslogear</a>
</div>