<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <div class="container w-25 bg-light my-5 p-2 rounded">
      <h1 class="text-center"><%=title %></h1>
      <form method="post" action="/products">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ID:</label>
          <input type="text" class="form-control" name="id" id="id" placeholder="Numero de ID" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title:</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Product Title" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Price:</label>
          <input type="text" class="form-control" name="price" id="price" placeholder="Product Price" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Thumbnail:</label>
          <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="Product Thumbnail" />
        </div>

        <div>
          <input type="submit" class="btn btn-success" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
